<html>
    <head>
        <title>Crosshair Analyzer</title>
        <link rel="stylesheet" href="/static/css/main.css"/>
        {{ dropzone.load_css() }}
        {{ dropzone.style('border: 2px dashed #0087F7; \
            margin-top: 0%; margin-right: 25%; margin-left: 25%; \
            min-height: 200px; background-color: #616E7C; color: #F5F7FA;') }}
    </head>
    <body>
        <h1>Crosshair Analyzer</h1>
        <h2>Upload a Screenshot Below</h2>

        {{ dropzone.create(action=url_for('upload_files')) }}
        <div style="text-align:center;">
            <button id="click">Approximate Values</button>
            <button id="reset">Reset</button>
        </div>

        <p id="settings" style="display: none;color:#F5F7FA;text-align: center;">Analyzing Crosshair</p>
        <p style="text-align: center;"><img id="cropped" src="https://i.redd.it/lgs9hva1ur251.gif" style="display: none; width: 15%; height: auto;"></p>
    
        {{ dropzone.load_js() }}
        {{ dropzone.config() }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $('#click').click(() =>{
                $('#settings').show();
                $('#cropped').show();
                $.ajax({
                    type: 'GET',
                    url: '/data',
                    success: (resp) => {
                         $('#settings').append(`Color: (${resp.red},${resp.green},${resp.blue}) <br/>
                            Size: ${resp.size} <br/>
                            Thickness: ${resp.thickness} <br/>
                            Gap: ${resp.gap} <br/>
                            ${resp.console} <br/>`);
                        $('#cropped').attr("src","{{url_for('static', filename='img/cropped.png')}}");
                    }
                });
            });

            $('#reset').click(() => {
                location.reload();
            });
        </script>
    </body>