<html>
    <head>
        <title>Crosshair Identifier</title>
        <link rel="stylesheet" href="/static/css/main.css"/>
        {{ dropzone.load_css() }}
        {{ dropzone.style('border: 2px dashed #0087F7; \
            margin-top: 0%; margin-right: 25%; margin-left: 25%; \
            min-height: 200px; background-color: #616E7C; color: #F5F7FA;') }}
    </head>
    <body>
        <h1>Crosshair Identifier</h1>
        <h2>Upload a Screenshot Below</h2>

        {{ dropzone.create(action=url_for('upload_files')) }}
        <div style="text-align:center;">
            <button id="click">Approximate Values</button>
            <button id="reset">Reset</button>
        </div>

        <p id="settings" style="display: none;color:#F5F7FA;text-align: center;">Test</p>
        <p style="text-align: center;"><img id="cropped" src="" style="display: none; width: 15%; height: auto;"></p>
    
        {{ dropzone.load_js() }}
        {{ dropzone.config() }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $('#click').click(() =>{
                $.ajax({
                    type: 'GET',
                    url: '/data',
                    success: (resp) => {
                        /* const height = resp.height;
                        const width = resp.width;
                        $('p').text(`Height: ${height} Width: ${width}`);
                        $('#settings').show(); */
                        $('#cropped').attr("src","{{url_for('static', filename='img/c1_cropped.png')}}");
                        $('#cropped').show();
                    }
                });
            });

            $('#reset').click(() => {
                location.reload();
            });
        </script>
    </body>
</html>